*{
                list-style: none;
            }
            body{
                padding-top: 0px;
                padding-bottom: 20px;
            }
            #content-box .summary {
                margin-top: 10px;
                margin-left: -9px;
                width: 700px;
            }
            .container {
                width: 1030px;
            }
            .status {
                background: white;
                width: 287px;
                margin-top: 10px;
                margin-left: 3px;
                position: relative;
                right: -9px;
                height: 300px;
            }
            #back {
                background: #EBEBEB;
                margin-top: -20px;
            }
            .nav-tabs {
                background: white;
            }
            .review {
                padding-top: 0;
                background: white;
            }
            .carousel {
                height: 300px;
            }
            .guestArea {
                padding: 15px;
            }

            /* modal */
            #findId {
                display: none;
                z-index: 1050;
                overflow: auto;
            }
            #findPw{
                display: none;
                z-index: 1050;
                overflow: auto;
            }
            .modal-dialog{
                background: #fff;
            }

            #travels {
                margin-top: 15px;
                width: 1000px;
                background: white;
            }

            /* marsonry */
            #grid { width: 900px; }
            #grid .item { width: 23%; }
            #grid .item .item-box { padding: 5px; width: auto; }
            #grid .item .item-box .item-content { border: 1px solid #eee; }
            #grid .item .item-box .item-content .img { width: 100%; border-bottom:1px solid #eee; }
            #grid .item .item-box .item-content .title {
                color: #333; font-size: 14px; font-weight: bold; padding: 5px 10px;
            }
            #grid .item .item-box .item-content .desc {
                color: #555; font-size: 12px; padding: 0 10px;
            }

            #grid1 { width: 900px; }
            #grid1 .item { width: 23%; }
            #grid1 .item .item-box { padding: 5px; width: auto; }
            #grid1 .item .item-box .item-content { border: 1px solid #eee; }
            #grid1 .item .item-box .item-content .img { width: 100%; border-bottom:1px solid #eee; }
            #grid1 .item .item-box .item-content .title {
                color: #333; font-size: 14px; font-weight: bold; padding: 5px 10px;
            }
            #grid1 .item .item-box .item-content .desc {
                color: #555; font-size: 12px; padding: 0 10px;
            }

            footer {
                text-align: center;
            }