<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mydb?characterEncoding=UTF8" />
				<property name="username" value="root"/>
				<property name="password" value="root"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="gazua/dao/mapper/MemberMapper.xml"/>
		<mapper resource="gazua/dao/mapper/PhotoMapper.xml"/>
		<mapper resource="gazua/dao/mapper/TourInfoMapper.xml"/>
		<mapper resource="gazua/dao/mapper/TourMapper.xml"/>
		<mapper resource="gazua/dao/mapper/ReviewMapper.xml"/>
		<mapper resource="gazua/dao/mapper/TourPlanMapper.xml"/>
		<mapper resource="gazua/dao/mapper/LikesMapper.xml"/>
		<mapper resource="gazua/dao/mapper/CommentMapper.xml"/>
		<mapper resource="gazua/dao/mapper/PhotoTourInfoMapper.xml"/>
		<mapper resource="gazua/dao/mapper/TourPlanJoinMapper.xml"/>
		<mapper resource="gazua/dao/mapper/TourInfoJoinMapper.xml"/>
		<mapper resource="gazua/dao/mapper/PhotoJoinMapper.xml"/>
	</mappers>
</configuration>